name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Decode Keystore
      env:
        ANDROID_KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
      run: |
        echo "$ANDROID_KEYSTORE_BASE64" | base64 --decode > release.keystore

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build Release APK
      env:
        ANDROID_KEYSTORE_PATH: release.keystore
        ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_STOREPASSWORD }}
        ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEYALIAS }}
        ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEYPASSWORD }}
      run: ./gradlew assembleRelease

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: launcher-release-${{ github.sha }}.apk
        path: app/build/outputs/apk/release/app-release.apk

    - name: Delete Old Pre-Release
      if: github.ref == 'refs/heads/main'
      run: gh release delete pre-release --cleanup-tag || true
      continue-on-error: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Create Pre-Release
      if: github.ref == 'refs/heads/main'
      uses: ncipollo/release-action@v1
      with:
        commit: ${{ github.sha }}
        tag: "pre-release"
        name: "Release Build (Latest)"
        prerelease: true
        body: "This release build is updated automatically whenever there is a commit to main. It is signed with the release certificate."
        generateReleaseNotes: true
        removeArtifacts: true
        replacesArtifacts: true
        artifacts: "app/build/outputs/apk/release/app-release.apk"
        allowUpdates: true
        token: ${{ secrets.GITHUB_TOKEN }}
